body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
    margin-top: 5%;
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

header{
    text-align: center;
    font-family: Questrial;
    font-size: 20px;
    font-weight: bold;
    color: lime;
}

main{
    padding-bottom: 10%;
}

.logo-image{
    height: 110px;
    width: 240px;
    margin-top: 3%;
}

nav{
    text-align: center;
    background-color: rgb(0, 235, 0);
    border-radius: 5px;
    height: 50px;
    margin-inline: 10%;
}

#nav-buttons{
    padding: 15px;
}

.user-select{
    font-family: Questrial;
    color: white;
    margin-inline: 10%;
}

.check, .scooter-id{
    display: inline-block;
}

.scooter-distance::before{
    content: '↦';
}

#charge-status-1{
    background-color: rgb(255, 166, 0);
    height: 25px;
    border-radius: 10px;
    margin-right: 60%;
}

#charge-status-2{
    background-color: rgb(69, 216, 0);
    height: 25px;
    border-radius: 10px;
    margin-right: 20%;
}

#charge-status-3{
    background-color: rgb(255, 47, 0);
    height: 25px;
    border-radius: 10px;
    margin-right: 80%;
}

.spc{
    padding: 2%;
}